:root {
  --gray-color: #4d4d4d;
  --gray-lightest-color: #B0B4BE;
  --blue-darkest-color: #404e6c;
  --blue-dark-color: #647693;
  --black-color: #000;
  --white-color: #fff;
}

.container-body {
  margin: 0;
}