@media (max-width: 420px) {
  .custom-sub-container-header {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 670px) {
  .second-image-middle-text {
    margin-top: 150px;
  }
}
